@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    font-family: 'Comfortaa', cursive;
}
body{
    padding: 0;
    margin: 0;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    min-height: 100vh;
    padding: 100px;
    background-color: rgb(112, 115, 126);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    width: min(600px, 80vw);
}

label[for='searchBar'] {
}
.searchContainer {
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex-wrap: none;
    max-width: 700px;
    border-radius: 5px;
}
.searchButton {
    border: none;
    border-radius: 15px;
    background-color: transparent;
    border: 1px black solid;
}
img#searchButton {
    border: none;
    background-color:transparent;
    height: 40px;
    width: 40px;
    border: none;
}

#searchBar {
    font: 2em;
    color: white;
    font-weight: 350;
    flex: 1;
    height: 50px;
    flex-basis: 600px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px black solid;
    padding: 0 20px;
}

.weatherCard {
    box-shadow: 0 0 6px;
    border-radius: 5px;
    background-color: rgb(209, 209, 209);
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardName {
    font-size: 60px;
    text-align: center;
}
#cardTemperature {
    font-size: 75px;
    font-weight: 800;
}
#weatherIcon {
    width: 80px;
    height: auto;
    padding-right: 20px;
    margin-bottom: -80px;
}
#cardDescription {
    font-size: 50px;
    text-align: center;
}

#temperatureUnitsToggle {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgb(34, 119, 158);
    border: 1px rgb(54, 191, 201) solid;
    color: white;
}

#temperatureUnitsToggle.farenheit {
    background-color: rgb(136, 22, 22);
    border: 1px rgb(233, 60, 60) solid;
    color: whtie;
}